@media (max-width: 1349px) {
  #grid-div {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "image image"
      "info info";
    align-items: center;
  }

  #img-div {
    display: inline-block;
    text-align: center;
    background: transparent;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    grid-area: image;
  }

  #image {
    min-width: 300px;
    max-width: 55%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(77, 27, 64);
    border-width: 0.5rem;
    border-radius: 0.5%;
  }

  p {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    background-color: rgb(77, 27, 64);
    width: 65%;
    height: 1px;
  }
}

@media (min-width: 1350px) {
  #grid-div {
    display: grid;
    height: 100%;
    grid-template-columns: auto 45%;
    grid-template-rows: 85vh;
    grid-gap: 5px;
    grid-template-areas:
      "image info"
      "image info";
    align-items: center;
  }

  #img-div {
    min-width: 40vw;
    display: inline-block;
    text-align: center;
    background: transparent;
    grid-area: image;
  }

  #image {
    max-width: 65%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(77, 27, 64);
    border-width: 0.5rem;
    border-radius: 0.5%;
  }

  p {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  hr {
    background-color: rgb(77, 27, 64);
    width: 85%;
    height: 1px;
  }
}

html {
  font-family: "Arimo", sans-serif;
  font-size: 10px;
  background: linear-gradient(180deg, rgb(77, 27, 64), rgb(233, 243, 228));
  padding: 0.5rem 0 0 0;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 6rem;
  text-align: center;
  color: rgb(233, 243, 228);
  line-height: 0%;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  text-align: center;
  color: rgb(77, 27, 64);
  line-height: 75%;
}

#subtitle {
  font-size: 2rem;
  color: rgb(233, 243, 228);
  text-align: center;
  padding: 1rem 0 2rem 0;
}

#img-caption {
  padding-top: 5px;
  font-size: 1.6rem;
}

#tribute-info {
  grid-area: info;
}

#title-div {
  grid-area: title;
}
